common/schema/DHQauthor-TEI.isosch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
   <title>ISO Schematron rules</title>
   <!-- This file generated 2026-01-26T16:02:27Z by 'extract-isosch.xsl'. -->
   <!-- ********************* -->
   <!-- namespaces, declared: -->
   <!-- ********************* -->
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
   <ns prefix="dhq" uri="http://www.digitalhumanities.org/ns/dhq"/>
   <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
   <ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema"/>
   <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>
   <!-- ********************* -->
   <!-- namespaces, implicit: -->
   <!-- ********************* -->
   <ns prefix="esp-d2e29510" uri="http://web.resource.org/cc/"/>
   <ns prefix="rdf" uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#"/>
   <!-- ******************************************************* -->
   <!-- constraints in en, und, mul, zxx, of which there are 20 -->
   <!-- ******************************************************* -->
   <let name="numGitHxs"
        value="count( /*/tei:teiHeader/tei:revisionDesc/tei:change/tei:ref[ @type eq 'gitHist'] )"/>
   <let name="fn" value="tokenize( base-uri(/), '/')[ last() ]"/>
   <let name="artID" value="replace( $fn, '^([0-9]{6}).*\.xml$','$1')"/>
   <let name="base_art_URL"
        value="'https://github.com/Digital-Humanities-Quarterly/dhq-journal/commits/main/articles/'"/>
   <pattern id="schematron-constraint-only_1_ODD_source-1">
      <rule context="tei:*/@source">
         <let name="srcs" value="tokenize( normalize-space(.),' ')"/>
         <report test="( parent::tei:classRef                               | parent::tei:dataRef                               | parent::tei:elementRef                               | parent::tei:macroRef                               | parent::tei:moduleRef                               | parent::tei:schemaSpec )                               and                               $srcs[2]"> When used on a schema description element (like <value-of select="name(..)"/>), the @source attribute should have only 1 value. (This one has <value-of select="count($srcs)"/>.)</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-subtypeTyped-2">
      <rule context="tei:*[@subtype]">
         <assert test="@type">The <name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-deprecationInfo-only-in-deprecated-3">
      <rule context="tei:desc[ @type eq 'deprecationInfo']">
         <assert test="../@validUntil">Information about a deprecation should only be present in a specification element that is being deprecated: that is, only an element that has a @validUntil attribute should have a child &lt;desc type="deprecationInfo"&gt;.</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-gloss-list-must-have-labels-4">
      <rule context="tei:list[@type='gloss']">
         <assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-article-id_matches_fn-5">
      <rule context="tei:idno[ @type eq 'DHQarticle-id']">
         <let name="basename"
              value="replace( base-uri(.), '^.*/([^/.]+)\.xml$','$1')"/>
         <report test="$basename ne normalize-space(.)"> The &lt;idno type="DHQarticle-id"&gt; should match the filename (without ".xml"); i.e. both should be the article number</report>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-require_proper_git_history-6">
      <rule context="tei:revisionDesc[ $numGitHxs eq 0 ]">
         <assert test="false()">A &lt;change&gt; element that gives git history is required.</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-require_proper_git_history-7">
      <rule context="tei:revisionDesc[ $numGitHxs gt 1]">
         <assert test="false()">There should be one and only one &lt;change&gt; element that gives the git history (there appear to be <value-of select="$numGitHxs"/> of ’em).</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-require_proper_git_history-8">
      <rule context="tei:revisionDesc/tei:change[ tei:ref[ @type eq 'gitHist'] ]">
         <assert test="normalize-space( text()[1] ) eq 'The version history for this file can be found on'"> git history change entry should start with “The version history for this file can be found on”.</assert>
         <assert test="starts-with( tei:ref/@target, $base_art_URL )"> git history target should start with git repo URL for articles (“https://github.com/Digital-Humanities-Quarterly/dhq-journal/commits/main/articles/”).</assert>
         <assert test="ends-with( tei:ref/@target, concat('/', $artID, '/', $fn ) )"> git history target should end in same directory &amp; filename as current file (“<value-of select="concat( '/', $artID, '/',$fn )"/>”).</assert>
      </rule>
   </pattern>
   <pattern id="schematron-constraint-family_must_have_content-9">
      <rule context="dhq:family">
         <report test="normalize-space(.) eq ''">A family name must be supplied inside &lt;dhq:family&gt;; if this &lt;<value-of select="name(..)"/>&gt; does not need a family name, delete the entire &lt;dhq:family&gt; element.</report>
      </rule>
   </pattern>
</schema>
