biblio/DHQ-Biblio-v1-MODS/schema/DHQ-biblio-mods.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:biblio="http://www.stg.brown.edu/biblio/"
  xmlns:mods="http://www.loc.gov/mods/v3" xmlns:dhq="http://www.digitalhumanities.org/dhq/biblio"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.loc.gov/mods/v3">

  <!-- Developed by generating framework RNG by transformation from genres.xml
       followed by hand revisions. May 9 2013. -->

  <!-- TODO:
  
  Validate the schema against genres.xml input
    Every (field|group)/@id corresponds to an element in the schema
      the corresponding elements carry the @biblio:label and @biblio:type given
    Check to see that @type is implementable ('hidden','select' etc.)
    
    Confirm that @duplicable elements are duplicable
      name, genre, identifier, recordInfo
    Check consistency
      required elements are always required
        how about marcGenre, typeOfResource?
      optional elements are always optional

  Schematron validations on content
    Warnings when expected (but not) required elements are omitted
    Warnings for values of 'issuance' not appropriate for genre type
    Errors for empty element content
    
  oXygen
    Validate instances against both RNG and MODS XSD
    CSS w/ forms controls
    Provide templates for each type (pull-down menu?)
    Implement flagging (somehow)
    
  Modeling issues
    Reordering the elements in the data is not a problem is it?
    Currently there is no provision for tracking the language(s) of an item.
      Should there be?
    This is current MODS 3.2. What would it take to update it?
    Removing 'abstract' element as this has never been used properly.
    How should "et al." be represented? (and query for 'et al' in the data).
      (Support for <etal/> is said to be forthcoming in MODS 3.5.)

  -->

  <start>
    <choice>
      <element name="modsCollection">
        <ref name="attributes.top-level"/>
        <ref name="attributes.global"/>
        <zeroOrMore>
          <choice>
            <ref name="element.Artwork"/>
            <ref name="element.Blog_Entry"/>
            <ref name="element.Book"/>
            <ref name="element.Book_Section"/>
            <ref name="element.Book_in_Series"/>
            <ref name="element.Conference_Paper"/>
            <ref name="element.Electronic_Communication"/>
            <ref name="element.Journal_Article"/>
            <ref name="element.Letter"/>
            <ref name="element.Manuscript"/>
            <ref name="element.Video_Game"/>
            <ref name="element.Website"/>
          </choice>
        </zeroOrMore>
      </element>
      <ref name="element.Artwork-toplevel"/>
      <ref name="element.Blog_Entry-toplevel"/>
      <ref name="element.Book-toplevel"/>
      <ref name="element.Book_Section-toplevel"/>
      <ref name="element.Book_in_Series-toplevel"/>
      <ref name="element.Conference_Paper-toplevel"/>
      <ref name="element.Electronic_Communication-toplevel"/>
      <ref name="element.Journal_Article-toplevel"/>
      <ref name="element.Letter-toplevel"/>
      <ref name="element.Manuscript-toplevel"/>
      <ref name="element.Video_Game-toplevel"/>
      <ref name="element.Website-toplevel"/>
    </choice>
  </start>


  <define name="attributes.top-level">
    <attribute name="version">
      <value>3.2</value>
    </attribute>
    <attribute name="version" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>1.0</value>
    </attribute>
  </define>

  <define name="attributes.global">
    <optional>
      <attribute name="flag" ns="http://www.digitalhumanities.org/dhq/biblio">
        <choice>
          <value>check</value>
          <value>fix</value>
        </choice>
      </attribute>
    </optional>
  </define>

  <define name="element-group.identifiers">
    <element name="identifier" biblio:id="biblioIdentifier" biblio:label="Biblio Identifier"
      biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="type">
        <value>biblio</value>
      </attribute>
      <data type="NCName"/>
    </element>
    <element name="identifier" biblio:id="dhqIdentifier" biblio:label="DHQ Identifier"
      biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="type">
        <value>dhq</value>
      </attribute>
      <data type="NCName"/>
    </element>
  </define>

  <define name="element-group.title">
    <element name="titleInfo">
      <ref name="attributes.global"/>
      <element name="title" biblio:id="title" biblio:label="Title">
        <ref name="attributes.global"/>
        <text/>
      </element>
      <optional>
        <element name="subTitle" biblio:id="subtitle" biblio:label="Subtitle">
          <ref name="attributes.global"/>
          <text/>
        </element>
      </optional>
    </element>
  </define>

  <define name="element-group.title-info">
    <element name="titleInfo">
      <ref name="attributes.global"/>
      <element name="title" biblio:id="title" biblio:label="Section Title">
        <ref name="attributes.global"/>
        <text/>
      </element>
      <optional>
        <element name="subTitle" biblio:id="subtitle" biblio:label="Section Subtitle">
          <ref name="attributes.global"/>
          <text/>
        </element>
      </optional>
    </element>
  </define>


  <define name="element-group.contributor">
    <element name="name" biblio:id="name" biblio:label="Contributor">
      <ref name="attributes.global"/>
      <attribute name="type">
        <value>personal</value>
      </attribute>
      <element name="role">
        <ref name="attributes.global"/>
        <element name="roleTerm" biblio:id="role" biblio:label="Role">
          <ref name="attributes.global"/>
          <attribute name="type">
            <value>text</value>
          </attribute>
          <choice>
            <value biblio:label="Author" biblio:default="yes">author</value>
            <value biblio:label="Creator">creator</value>
            <value biblio:label="Editor">editor</value>
            <value biblio:label="Translator">translator</value>
          </choice>
        </element>
      </element>
      <choice>
        <element name="namePart" biblio:id="fullName" biblio:label="Full Name">
          <ref name="attributes.global"/>
          <attribute name="type">
            <value>full</value>
          </attribute>
          <text/>
        </element>
        <group>
          <element name="namePart" biblio:id="familyName" biblio:label="Last Name">
            <ref name="attributes.global"/>
            <attribute name="type">
              <value>family</value>
            </attribute>
            <text/>
          </element>
          <optional>
            <element name="namePart" biblio:id="givenName" biblio:label="First Name">
              <ref name="attributes.global"/>
              <attribute name="type">
                <value>given</value>
              </attribute>
              <text/>
            </element>
          </optional>
        </group>
      </choice>
    </element>
  </define>


  <define name="element.originInfo">
    <element name="originInfo" biblio:id="originInfo">
      <ref name="attributes.global"/>
      <element name="issuance" biblio:id="issuance" biblio:type="hidden">
        <ref name="attributes.global"/>
        <choice>
          <value>continuing</value>
          <value>monographic</value>
        </choice>
      </element>
      <optional>
        <ref name="element.publisher"/>
      </optional>
      <optional>
        <ref name="element.place"/>
      </optional>
      <optional>
        <ref name="element.dateIssued"/>
      </optional>
    </element>
  </define>

  <define name="element-group.monographic.originInfo">
    <element name="originInfo" biblio:id="originInfo">
      <ref name="attributes.global"/>
      <element name="issuance" biblio:id="issuance" biblio:type="hidden">
        <ref name="attributes.global"/>
        <value>monographic</value>
      </element>
      <optional>
        <ref name="element.publisher"/>
      </optional>
      <optional>
        <ref name="element.place"/>
      </optional>
      <optional>
        <ref name="element.dateIssued"/>
      </optional>
    </element>
  </define>

  <define name="element.publisher">
    <element name="publisher" biblio:id="publisher">
      <ref name="attributes.global"/>
      <text/>
    </element>
  </define>

  <define name="element.place">
    <element name="place">
      <ref name="attributes.global"/>
      <optional>
        <element name="placeTerm" biblio:id="placeCode">
          <ref name="attributes.global"/>
          <text/>
        </element>
      </optional>
      <element name="placeTerm" biblio:id="place">
        <ref name="attributes.global"/>
        <attribute name="type">
          <value>text</value>
        </attribute>
        <text/>
      </element>
    </element>
  </define>

  <define name="element.dateIssued">
    <element name="dateIssued" biblio:id="date">
      <ref name="attributes.global"/>
      <text/>
    </element>
  </define>

  <define name="element.conferenceName">
    <element name="name" biblio:id="conferenceName">
      <ref name="attributes.global"/>
      <attribute name="type">
        <value>conference</value>
      </attribute>
      <element name="role">
        <ref name="attributes.global"/>
        <element name="roleTerm" biblio:id="conferenceRole" biblio:label="Conference Role">
          <ref name="attributes.global"/>
          <attribute name="type">
            <value>text</value>
          </attribute>
          <value>creator</value>
        </element>
      </element>
      <element name="namePart" biblio:id="conferenceNamePart" biblio:label="Conference Name">
        <ref name="attributes.global"/>
        <text/>
      </element>
    </element>
  </define>



  <define name="element-contents.Book-relatedItem">
    <attribute name="type">
      <value>host</value>
    </attribute>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element-group.monographic.originInfo"/>
    <optional>
      <element name="part">
        <ref name="attributes.global"/>
        <optional>
          <element name="detail">
            <ref name="attributes.global"/>
            <attribute name="type">
              <value>volume</value>
            </attribute>
            <element name="number" biblio:id="hostVolume">
              <ref name="attributes.global"/>
              <text/>
            </element>
          </element>
        </optional>
        <optional>
          <element name="detail">
            <ref name="attributes.global"/>
            <attribute name="type">
              <value>issue</value>
            </attribute>
            <element name="number" biblio:id="hostIssueNum">
              <ref name="attributes.global"/>
              <text/>
            </element>
          </element>
        </optional>
        <optional>
          <ref name="element.extent"/>
        </optional>
        <optional>
          <element name="date" biblio:id="hostPartDate">
            <ref name="attributes.global"/>
            <text/>
          </element>
        </optional>
      </element>
    </optional>
  </define>

  
  <define name="element-group.Journal-relatedItem">
    <element name="relatedItem" biblio:id="hostItem" biblio:label="Journal Information">
      <ref name="attributes.global"/>
      <attribute name="type">
        <value>host</value>
      </attribute>
      <optional>
        <element name="titleInfo">
          <ref name="attributes.global"/>
          <element name="title" biblio:id="hostTitle" biblio:label="Journal Title">
            <ref name="attributes.global"/>
            <text/>
          </element>
        </element>
      </optional>
      <element name="originInfo" biblio:id="originInfo">
        <ref name="attributes.global"/>
        <element name="issuance" biblio:id="hostIssuance" biblio:type="hidden">
          <ref name="attributes.global"/>
          <choice>
            <value>continuing</value>
            <value>monographic</value>
          </choice>
        </element>
      </element>
      <optional>
        <element name="part">
          <ref name="attributes.global"/>
          <optional>
            <element name="detail">
              <ref name="attributes.global"/>
              <attribute name="type">
                <value>volume</value>
              </attribute>
              <element name="number" biblio:id="hostVolume" biblio:label="Volume">
                <ref name="attributes.global"/>
                <text/>
              </element>
            </element>
          </optional>
          <optional>
            <element name="detail">
              <ref name="attributes.global"/>
              <attribute name="type">
                <value>issue</value>
              </attribute>
              <element name="number" biblio:id="hostIssueNum" biblio:label="Issue No.">
                <ref name="attributes.global"/>
                <text/>
              </element>
            </element>
          </optional>
          <optional>
            <ref name="element.extent"/>
          </optional>
          <optional>
            <element name="date" biblio:id="hostPartDate" biblio:label="Date">
              <ref name="attributes.global"/>
              <text/>
            </element>
          </optional>
        </element>
      </optional>
    </element>
  </define>
  
  <define name="element.extent">
    <element name="extent">
      <ref name="attributes.global"/>
      <attribute name="unit">
        <value>pages</value>
      </attribute>
      <choice>
        <group>
          <element name="start" biblio:id="hostFirstPage" biblio:label="First Page">
            <ref name="attributes.global"/>
            <text/>
          </element>
          <element name="end" biblio:id="hostLastPage" biblio:label="Last Page">
            <ref name="attributes.global"/>
            <text/>
          </element>
        </group>
        <element name="total" biblio:label="Total Pages">
          <ref name="attributes.global"/>
          <text/>
        </element>
      </choice>
    </element>
  </define>

  <define name="element.url">
    <element name="location" biblio:id="location">
      <ref name="attributes.global"/>
      <element name="url" biblio:id="url" biblio:label="URL">
        <ref name="attributes.global"/>
        <data type="anyURI"/>
      </element>
    </element>
  </define>

  <define name="element.marcForm-choice">
    <element name="physicalDescription">
      <ref name="attributes.global"/>
      <element name="form" biblio:id="form" biblio:label="MARC Form" biblio:type="hidden">
        <ref name="attributes.global"/>
        <attribute name="authority">
          <value>marcform</value>
        </attribute>
        <choice>
          <value>print</value>
          <value>electronic</value>
          <value>microfiche</value>
          <value>microfilm</value>
          <value>large print</value>
          <value>braille</value>
        </choice>
      </element>
    </element>
  </define>

  <define name="element.physicalDescription">
    <element name="physicalDescription">
      <ref name="attributes.global"/>
      <element name="form" biblio:id="form" biblio:label="MARC Form" biblio:type="hidden">
        <ref name="attributes.global"/>
        <attribute name="authority">
          <value>marcform</value>
        </attribute>
        <choice>
          <value>print</value>
          <value>electronic</value>
        </choice>
      </element>
      <optional>
        <element name="extent" biblio:id="extent" biblio:label="Extent/Pages">
          <ref name="attributes.global"/>
          <text/>
        </element>
      </optional>
    </element>
  </define>

  <define name="element.marcForm-electronic">
    <element name="physicalDescription">
      <ref name="attributes.global"/>
      <element name="form" biblio:id="form" biblio:label="MARC Form" biblio:type="hidden">
        <ref name="attributes.global"/>
        <attribute name="authority">
          <value>marcform</value>
        </attribute>
        <value>electronic</value>
      </element>
    </element>
  </define>

  <define name="element.recordInfo">
    <element name="recordInfo">
      <ref name="attributes.global"/>
      <zeroOrMore>
        <element name="recordChangeDate" biblio:id="recordChangeDate"
          biblio:label="Record Change Date">
          <ref name="attributes.global"/>
          <text/>
        </element>
      </zeroOrMore>
      <element name="recordCreationDate" biblio:id="recordCreationDate"
        biblio:label="Record Creation Date">
        <ref name="attributes.global"/>
        <text/>
      </element>
    </element>
  </define>

  <define name="element-group.notes">
    <zeroOrMore>
      <element name="note" biblio:id="note" biblio:label="Note">
        <ref name="attributes.global"/>
        <text/>
      </element>
    </zeroOrMore>
  </define>

  <define name="element.Artwork.creator">
    <element name="name" biblio:id="name" biblio:label="Artist">
      <ref name="attributes.global"/>
      <attribute name="type">
        <value>personal</value>
      </attribute>
      <element name="role">
        <ref name="attributes.global"/>
        <element name="roleTerm" biblio:id="role" biblio:label="Role">
          <ref name="attributes.global"/>
          <attribute name="type">
            <value>text</value>
          </attribute>
          <value>Creator</value>
        </element>
      </element>
      <choice>
        <element name="namePart" biblio:id="fullName" biblio:label="Full Name">
          <ref name="attributes.global"/>
          <attribute name="type">
            <value>full</value>
          </attribute>
          <text/>
        </element>
        <group>
          <element name="namePart" biblio:id="familyName" biblio:label="Last Name">
            <ref name="attributes.global"/>
            <attribute name="type">
              <value>family</value>
            </attribute>
            <text/>
          </element>
          <optional>
            <element name="namePart" biblio:id="givenName" biblio:label="First Name">
              <ref name="attributes.global"/>
              <attribute name="type">
                <value>given</value>
              </attribute>
              <text/>
            </element>
          </optional>
        </group>
      </choice>
    </element>
  </define>

  <define name="element.typeOfResource-any">
    <element name="typeOfResource" biblio:id="typeOfResource" biblio:label="Media type"
      biblio:type="hidden">
      <ref name="attributes.global"/>
      <choice>
        <value biblio:label="text" biblio:default="yes">text</value>
        <value biblio:label="still image">still image</value>
        <value biblio:label="moving image">moving image</value>
        <value biblio:label="sound recording">sound recording</value>
        <value biblio:label="three dimensional object">three dimensional object</value>
        <value biblio:label="software, multimedia">software, multimedia</value>
        <value biblio:label="mixed material">mixed material</value>
      </choice>
    </element>
  </define>

  <define name="element.typeOfResource-text">
    <element name="typeOfResource" biblio:id="typeOfResource" biblio:label="Media type"
      biblio:type="hidden">
      <ref name="attributes.global"/>
      <value biblio:label="text">text</value>
    </element>
  </define>

  <define name="element.typeOfResource-software">
    <element name="typeOfResource" biblio:id="typeOfResource" biblio:label="Media type"
      biblio:type="hidden">
      <ref name="attributes.global"/>
      <value biblio:label="software, multimedia">software, multimedia</value>
    </element>
  </define>

  <define name="element.Artwork.sponsor">
    <element name="namePart" biblio:id="corporateNamePart" biblio:label="Organizer/Sponsor">
      <ref name="attributes.global"/>
      <text/>
    </element>
  </define>


  <!-- Here beginneth the genre-specific mods:mods element declarations. -->

  <define name="element.Artwork-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Artwork"/>
    </element>
  </define>
  
  <define name="element.Artwork">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Artwork"/>
    </element>
  </define>
  
  <define name="element-contents.Artwork">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Artwork</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Artwork</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <choice>
        <value>art original</value>
        <value>art reproduction</value>
      </choice>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element.Artwork.creator"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-any"/>
    <optional>
      <ref name="element.originInfo"/>
    </optional>
    <optional>
      <ref name="element.Artwork.sponsor"/>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>
  </define>

  <define name="element.Blog_Entry-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Blog_Entry"/>
    </element>
  </define>
  
  <define name="element.Blog_Entry">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Blog_Entry"/>
    </element>
  </define>

  <define name="element-contents.Blog_Entry">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Blog Entry</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Blog Entry</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <value>web site</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-software"/>
    <optional>
      <ref name="element.originInfo"/>
    </optional>
    <ref name="element.marcForm-electronic"/>
    <ref name="element.url"/>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>

  </define>

  <define name="element.Book-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Book"/>
    </element>
  </define>
  
  <define name="element.Book">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Book"/>
    </element>
  </define>

  <define name="element-contents.Book">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Book</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Book</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <value>book</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-text"/>
    <ref name="element-group.monographic.originInfo"/>
    <ref name="element.marcForm-choice"/>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>

  </define>

  <define name="element.Book_Section-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Book"/>
    </element>
  </define>
  
  <define name="element.Book_Section">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Book_Section"/>
    </element>
  </define>

  <define name="element-contents.Book_Section">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Book Section</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Book Section</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title-info"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-text"/>
    <optional>
      <element name="relatedItem" biblio:id="hostItem" biblio:label="Book Information">
        <ref name="attributes.global"/>
        <ref name="element-contents.Book-relatedItem"/>
      </element>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>

  </define>

  <define name="element.Book_in_Series-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Book_in_Series"/>
    </element>
  </define>
  
  <define name="element.Book_in_Series">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Book_in_Series"/>
    </element>
  </define>
  
  <define name="element-contents.Book_in_Series">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Book in Series</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Book in Series</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <value>book</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title-info"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-text"/>
    <ref name="element-group.monographic.originInfo"/>
    <ref name="element.marcForm-choice"/>
    <optional>
      <element name="relatedItem" biblio:id="hostItem" biblio:label="Series Information">
        <ref name="attributes.global"/>
        <ref name="element-contents.Book-relatedItem"/>
      </element>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>

  </define>

  <define name="element.Conference_Paper-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Conference_Paper"/>
    </element>
  </define>
  
  <define name="element.Conference_Paper">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Conference_Paper"/>
    </element>
  </define>
  
  <define name="element-contents.Conference_Paper">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Conference Paper</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Conference Paper</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <value>conference publication</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title-info"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <optional>
      <ref name="element.conferenceName"/>
    </optional>
    <optional>
      <element name="name">
        <ref name="attributes.global"/>
        <attribute name="type">
          <value>corporate</value>
        </attribute>
        <element name="namePart" biblio:id="corporateNamePart" biblio:label="Organizer/Sponsor">
          <ref name="attributes.global"/>
          <text/>
        </element>
      </element>
    </optional>
    <optional>
      <ref name="element.typeOfResource-text"/>
    </optional>
    <element name="originInfo" biblio:id="originInfo">
      <ref name="attributes.global"/>
      <element name="issuance" biblio:id="issuance" biblio:type="hidden"
        biblio:label="Article Issuance">
        <ref name="attributes.global"/>
        <value>monographic</value>
      </element>
    </element>
    <optional>
      <ref name="element-group.Journal-relatedItem"/>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>

  </define>

  <define name="element.Electronic_Communication-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Electronic_Communication"/>
    </element>
  </define>
  
  <define name="element.Electronic_Communication">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Electronic_Communication"/>
    </element>
  </define>
  
  <define name="element-contents.Electronic_Communication">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Electronic Communication</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Electronic Communication</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-software"/>
    <optional>
      <ref name="element.originInfo"/>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.marcForm-electronic"/>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>
  </define>

  <define name="element.Journal_Article-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Journal_Article"/>
    </element>
  </define>
  
  <define name="element.Journal_Article">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Journal_Article"/>
    </element>
  </define>
  
  <define name="element-contents.Journal_Article">
      <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
        <value>Journal Article</value>
      </attribute>
      <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
        <ref name="attributes.global"/>
        <attribute name="authority">
          <value>biblio</value>
        </attribute>
        <value>Journal Article</value>
      </element>
      <ref name="element-group.identifiers"/>
      <optional>
        <ref name="element-group.title"/>
      </optional>
      <zeroOrMore>
        <ref name="element-group.contributor"/>
      </zeroOrMore>
      <ref name="element.typeOfResource-text"/>
      <ref name="element-group.monographic.originInfo"/>
      <ref name="element-group.Journal-relatedItem"/>
      <optional>
        <ref name="element.url"/>
      </optional>
      <ref name="element.recordInfo"/>
      <optional>
        <ref name="element-group.notes"/>
      </optional>
    
  </define>

  <define name="element.Letter-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Letter"/>
    </element>
  </define>
  
  <define name="element.Letter">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Letter"/>
    </element>
  </define>
  
  <define name="element-contents.Letter">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Letter</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Letter</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <value>letter</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <optional>
      <element name="genre" biblio:id="genre" biblio:label="Type">
        <ref name="attributes.global"/>
        <text/>
      </element>
    </optional>
    <optional>
      <ref name="element.typeOfResource-any"/>
    </optional>
    <optional>
      <ref name="element.originInfo"/>
    </optional>
    <optional>
      <ref name="element.physicalDescription"/>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>
  </define>

  <define name="element.Manuscript-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Manuscript"/>
    </element>
  </define>
  
  <define name="element.Manuscript">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Manuscript"/>
    </element>
  </define>
  
  <define name="element-contents.Manuscript">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Manuscript</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Manuscript</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <optional>
      <element name="genre" biblio:id="genre" biblio:label="Type">
        <ref name="attributes.global"/>
        <text/>
      </element>
    </optional>
    <optional>
      <ref name="element.typeOfResource-any"/>
    </optional>
    <optional>
      <ref name="element.originInfo"/>
    </optional>
    <optional>
      <ref name="element.physicalDescription"/>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>

  </define>

  <define name="element.Video_Game-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Video_Game"/>
    </element>
  </define>
  
  <define name="element.Video_Game">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Video_Game"/>
    </element>
  </define>
  
  <define name="element-contents.Video_Game">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Video Game</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Video Game</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <value>game</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-software"/>
    <optional>
      <ref name="element.originInfo"/>
    </optional>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.marcForm-electronic"/>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>
  </define>

  <define name="element.Website-toplevel">
    <element name="mods">
      <ref name="attributes.top-level"/>
      <ref name="attributes.global"/>
      <ref name="element-contents.Website"/>
    </element>
  </define>
  
  <define name="element.Website">
    <element name="mods">
      <ref name="attributes.global"/>
      <ref name="element-contents.Website"/>
    </element>
  </define>
  
  <define name="element-contents.Website">
    <attribute name="genre" ns="http://www.digitalhumanities.org/dhq/biblio">
      <value>Website</value>
    </attribute>
    <element name="genre" biblio:id="biblioGenre" biblio:label="Biblio type" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>biblio</value>
      </attribute>
      <value>Website</value>
    </element>
    <element name="genre" biblio:id="marcGenre" biblio:label="MARC Genre" biblio:type="hidden">
      <ref name="attributes.global"/>
      <attribute name="authority">
        <value>marcgt</value>
      </attribute>
      <value>web site</value>
    </element>
    <ref name="element-group.identifiers"/>
    <optional>
      <ref name="element-group.title"/>
    </optional>
    <zeroOrMore>
      <ref name="element-group.contributor"/>
    </zeroOrMore>
    <ref name="element.typeOfResource-software"/>
    <optional>
      <ref name="element.originInfo"/>
    </optional>
    <ref name="element.marcForm-electronic"/>
    <optional>
      <ref name="element.url"/>
    </optional>
    <ref name="element.recordInfo"/>
    <optional>
      <ref name="element-group.notes"/>
    </optional>
  </define>

</grammar>
