TEImigration/DHQauthor-tight.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema represents the tagging in the actual data; it is a subset of the
     normative DHQauthor schema (assuming all the input documents were valid, which
     I didn't actually check). -->
<!-- Derived from DHQauthor data by wap, 2009-12-21 -->
<grammar
  ns="http://digitalhumanities.org/DHQ/namespace"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:cc="http://web.resource.org/cc/"
  xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="DHQarticle">
      <element name="DHQheader">
        <ref name="title"/>
        <oneOrMore>
          <ref name="author"/>
        </oneOrMore>
        <element name="publicationStmt">
          <oneOrMore>
            <ref name="idno"/>
          </oneOrMore>
          <element name="issueTitle">
            <text/>
          </element>
          <optional>
            <element name="specialTitle">
              <text/>
            </element>
          </optional>
          <element name="articleType">
            <data type="NCName"/>
          </element>
          <ref name="date"/>
          <element name="availability">
            <element name="cc:License">
              <attribute name="rdf:about">
                <data type="anyURI"/>
              </attribute>
            </element>
          </element>
        </element>
        <optional>
          <element name="langUsage">
            <oneOrMore>
              <element name="language">
                <attribute name="id">
                  <data type="NCName"/>
                </attribute>
                <optional>
                  <attribute name="role">
                    <data type="NCName"/>
                  </attribute>
                </optional>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="keywords">
            <attribute name="resp">
              <data type="NCName"/>
            </attribute>
            <oneOrMore>
              <ref name="term"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="history">
            <element name="revisionDesc">
              <oneOrMore>
                <element name="change">
                  <attribute name="when"/>
                  <attribute name="who"/>
                  <text/>
                </element>
              </oneOrMore>
            </element>
          </element>
        </optional>
        <element name="abstract">
          <oneOrMore>
            <ref name="p"/>
          </oneOrMore>
        </element>
        <element name="teaser">
          <oneOrMore>
            <choice>
              <text/>
              <ref name="called"/>
              <ref name="title"/>
            </choice>
          </oneOrMore>
        </element>
      </element>
      <element name="text">
        <optional>
          <choice>
            <ref name="epigraph"/>
            <ref name="head"/>
          </choice>
        </optional>
        <choice>
          <zeroOrMore>
            <choice>
              <ref name="example"/>
              <ref name="figure"/>
              <ref name="p"/>
            </choice>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="quote"/>
          </zeroOrMore>
        </choice>
        <choice>
          <ref name="list"/>
          <zeroOrMore>
            <ref name="div"/>
          </zeroOrMore>
        </choice>
      </element>
      <optional>
        <element name="listBibl">
          <oneOrMore>
            <element name="bibl">
              <optional>
                <attribute name="id"/>
              </optional>
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="author"/>
                  <ref name="date"/>
                  <ref name="idno"/>
                  <ref name="label"/>
                  <ref name="name"/>
                  <ref name="ptr"/>
                  <ref name="ref"/>
                  <ref name="title"/>
                  <element name="editor">
                    <text/>
                  </element>
                  <element name="extent">
                    <text/>
                  </element>
                  <element name="pubPlace">
                    <text/>
                  </element>
                  <element name="publisher">
                    <text/>
                  </element>
                  <element name="vol">
                    <text/>
                  </element>
                </choice>
              </oneOrMore>
            </element>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <optional>
        <attribute name="rend">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="emph"/>
          <ref name="foreign"/>
          <ref name="hi"/>
          <ref name="quote"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="author">
    <element name="author">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="name"/>
          <element name="address">
            <oneOrMore>
              <element name="addrLine">
                <text/>
              </element>
            </oneOrMore>
          </element>
          <element name="affiliation">
            <text/>
          </element>
          <element name="bio">
            <oneOrMore>
              <ref name="p"/>
            </oneOrMore>
          </element>
          <element name="email">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="idno">
    <element name="idno">
      <attribute name="type">
        <data type="NCName"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="date">
    <element name="date">
      <optional>
        <attribute name="when"/>
      </optional>
      <text/>
    </element>
  </define>
  <define name="term">
    <element name="term">
      <text/>
    </element>
  </define>
  <define name="p">
    <element name="p">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="cit"/>
          <ref name="code"/>
          <ref name="eg"/>
          <ref name="emph"/>
          <ref name="example"/>
          <ref name="figure"/>
          <ref name="foreign"/>
          <ref name="graphic"/>
          <ref name="hi"/>
          <ref name="list"/>
          <ref name="name"/>
          <ref name="note"/>
          <ref name="ptr"/>
          <ref name="q"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="table"/>
          <ref name="term"/>
          <ref name="title"/>
          <element name="gi">
            <data type="NCName"/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="called">
    <element name="called">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="emph"/>
          <ref name="foreign"/>
          <ref name="hi"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="head">
    <element name="head">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="code"/>
          <ref name="emph"/>
          <ref name="q"/>
          <ref name="quote"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="epigraph">
    <element name="epigraph">
      <ref name="quote"/>
      <choice>
        <ref name="ptr"/>
        <ref name="ref"/>
      </choice>
    </element>
  </define>
  <define name="example">
    <element name="example">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <ref name="lg"/>
      </optional>
      <optional>
        <ref name="label"/>
      </optional>
      <choice>
        <ref name="eg"/>
        <ref name="list"/>
        <zeroOrMore>
          <choice>
            <ref name="p"/>
            <ref name="quote"/>
          </choice>
        </zeroOrMore>
      </choice>
    </element>
  </define>
  <define name="figure">
    <element name="figure">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <ref name="label"/>
      </optional>
      <ref name="graphic"/>
      <optional>
        <element name="figDesc">
          <text/>
        </element>
      </optional>
      <optional>
        <ref name="caption"/>
      </optional>
    </element>
  </define>
  <define name="quote">
    <element name="quote">
      <attribute name="rend">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="code"/>
          <ref name="emph"/>
          <ref name="foreign"/>
          <ref name="hi"/>
          <ref name="l"/>
          <ref name="lg"/>
          <ref name="list"/>
          <ref name="note"/>
          <ref name="p"/>
          <ref name="ptr"/>
          <ref name="q"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="table"/>
          <ref name="term"/>
          <ref name="title"/>
          <element name="sp">
            <element name="speaker">
              <text/>
            </element>
            <ref name="p"/>
          </element>
          <element name="xtext">
            <optional>
              <ref name="head"/>
            </optional>
            <choice>
              <ref name="div"/>
              <oneOrMore>
                <ref name="lg"/>
              </oneOrMore>
              <oneOrMore>
                <ref name="p"/>
              </oneOrMore>
            </choice>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="list">
    <element name="list">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <element name="item">
          <optional>
            <attribute name="id">
              <data type="NCName"/>
            </attribute>
          </optional>
          <oneOrMore>
            <choice>
              <text/>
              <ref name="called"/>
              <ref name="code"/>
              <ref name="emph"/>
              <ref name="foreign"/>
              <ref name="hi"/>
              <ref name="label"/>
              <ref name="list"/>
              <ref name="note"/>
              <ref name="p"/>
              <ref name="ptr"/>
              <ref name="quote"/>
              <ref name="ref"/>
              <ref name="title"/>
            </choice>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="div">
    <element name="div">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="cit"/>
          <ref name="div"/>
          <ref name="eg"/>
          <ref name="epigraph"/>
          <ref name="example"/>
          <ref name="figure"/>
          <ref name="head"/>
          <ref name="lg"/>
          <ref name="list"/>
          <ref name="p"/>
          <ref name="quote"/>
          <ref name="table"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="label">
    <element name="label">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="emph"/>
          <ref name="ptr"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="name">
    <element name="name">
      <optional>
        <attribute name="role">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <element name="family">
            <text/>
          </element>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ref">
    <element name="ref">
      <optional>
        <attribute name="target"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="code"/>
          <ref name="quote"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="ptr">
    <element name="ptr">
      <optional>
        <attribute name="loc"/>
      </optional>
      <attribute name="target">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="foreign">
    <element name="foreign">
      <optional>
        <attribute name="lang"/>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="emph"/>
          <ref name="hi"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="hi">
    <element name="hi">
      <attribute name="rend">
        <data type="NCName"/>
      </attribute>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="emph">
    <element name="emph">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="foreign"/>
          <ref name="hi"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="graphic">
    <element name="graphic">
      <optional>
        <attribute name="type">
          <data type="NCName"/>
        </attribute>
      </optional>
      <attribute name="url"/>
    </element>
  </define>
  <define name="code">
    <element name="code">
      <text/>
    </element>
  </define>
  <define name="table">
    <element name="table">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <ref name="label"/>
      </optional>
      <oneOrMore>
        <element name="row">
          <optional>
            <attribute name="role">
              <data type="NCName"/>
            </attribute>
          </optional>
          <oneOrMore>
            <element name="cell">
              <optional>
                <attribute name="role">
                  <data type="NCName"/>
                </attribute>
              </optional>
              <oneOrMore>
                <choice>
                  <text/>
                  <ref name="called"/>
                  <ref name="code"/>
                  <ref name="emph"/>
                  <ref name="figure"/>
                  <ref name="foreign"/>
                  <ref name="graphic"/>
                  <ref name="hi"/>
                  <ref name="list"/>
                  <ref name="title"/>
                </choice>
              </oneOrMore>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
      <optional>
        <ref name="caption"/>
      </optional>
    </element>
  </define>
  <define name="q">
    <element name="q">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="foreign"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="eg">
    <element name="eg">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="hi"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="note">
    <element name="note">
      <optional>
        <attribute name="id">
          <data type="NCName"/>
        </attribute>
      </optional>
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="cit"/>
          <ref name="code"/>
          <ref name="emph"/>
          <ref name="foreign"/>
          <ref name="graphic"/>
          <ref name="hi"/>
          <ref name="list"/>
          <ref name="name"/>
          <ref name="p"/>
          <ref name="ptr"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="term"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="cit">
    <element name="cit">
      <ref name="quote"/>
      <choice>
        <ref name="ptr"/>
        <ref name="ref"/>
      </choice>
    </element>
  </define>
  <define name="lg">
    <element name="lg">
      <oneOrMore>
        <ref name="l"/>
      </oneOrMore>
    </element>
  </define>
  <define name="caption">
    <element name="caption">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="called"/>
          <ref name="cit"/>
          <ref name="emph"/>
          <ref name="note"/>
          <ref name="p"/>
          <ref name="ptr"/>
          <ref name="quote"/>
          <ref name="ref"/>
          <ref name="title"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="l">
    <element name="l">
      <oneOrMore>
        <choice>
          <text/>
          <ref name="emph"/>
          <ref name="foreign"/>
          <ref name="hi"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
</grammar>
