toc/toc-xml.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="toc">
      <oneOrMore>
        <element name="journal">
          <optional>
            <attribute name="current">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="editorial">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="preview">
              <data type="boolean"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="vol">
              <data type="integer"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="issue">
              <data type="integer"/>
            </attribute>
          </optional>
          <optional>
            <ref name="title"/>
          </optional>
          <optional>
            <element name="specialTitle">
              <text/>
            </element>
          </optional>
          <optional>
            <ref name="editors"/>
            <oneOrMore>
              <ref name="list"/>
            </oneOrMore>
          </optional>
          <zeroOrMore>
            <choice>
              <element name="cluster">
                <ref name="title"/>
                <optional>
                  <ref name="editors"/>
                </optional>
                <choice>
                  <oneOrMore>
                    <ref name="list"/>
                  </oneOrMore>
                  <oneOrMore>
                    <ref name="item"/>
                  </oneOrMore>
                </choice>
              </element>
              <oneOrMore>
                <ref name="list"/>
              </oneOrMore>
            </choice>
          </zeroOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
  <define name="title">
    <element name="title">
      <optional>
        <attribute name="value">
          <data type="date"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </define>
  <define name="editors">
    <element name="editors">
      <attribute name="n">
        <data type="integer"/>
      </attribute>
      <text/>
    </element>
  </define>
  <define name="item">
    <element name="item">
      <attribute name="id"/>
      <!-- not controlled here but via Schematron -->
    </element>
  </define>
  <define name="list">
    <element name="list">
      <!-- 'id' attribute here is really a class assignment, again controlled via Schematron -->
      <attribute name="id">
        <choice>
          <value>editorials</value>
          <value>articles</value>
          <value>reviews</value>
          <value>case_studies</value>
          <value>frontmatter</value>
          <value>issues</value>
          <value>posters</value>
          <value>field_reports</value>
        </choice>
      </attribute>
      <optional>
        <ref name="title"/>
      </optional>
      <zeroOrMore>
        <ref name="item"/>
      </zeroOrMore>
    </element>
  </define>
</grammar>
